@font-face
  font-family 'ProximaNova'
  src url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot')
  src url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix')format('embedded-opentye'),
  url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.woff')format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.ttf')format('truetype')
  font-style normal
  font-weight bold

@font-face
  font-family 'ProximaNova'
  src url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot')
  src url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix')format('embedded-opentye'),
  url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.woff')format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.ttf')format('truetype')
  font-style normal
  font-weight normal
  
@font-face 
  font-family 'FontAwesome'
  src url('../fonts/font-awesome/fontawesome-webfont.eot')
  src url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix')format('embedded-opentye'),
  url('../fonts/font-awesome/fontawesome-webfont.woff')format('woff'),
  url('../fonts/font-awesome/fontawesome-webfont.ttf')format('truetype')
  font-style normal
  font-weight normal
