@import '_libs'

.wrapper
	display: flex
	min-height: 100vh
	margin: 0 auto

	.game-place
		height calc(100vh - 30px)
		width calc(100vh * 1.54 - 30px)
		border 1px solid black
		box-sizing border-box
		margin 15px 10px
		flex-shrink 0
		position relative

		.top ul, .middle ul, .bottom ul
			list-style none
			display flex
			flex-direction row
			box-sizing border-box

		.top li, .middle li, .bottom li
			border: 1px solid grey
			box-sizing: border-box

		.top li, .bottom li
			width: calc(70% / 11)

			&.square
				width: 15%
				&>div
					position: relative
					width: 100%
					padding-bottom: 100%
					&>div
						width: 100%
						height: 100%
						position: absolute
						display: flex
						justify-content: center
						align-items: center

		.middle
			height: 53%
			
			.container
				display: flex
				flex-direction: row
				height: 100%

				.left, .right
					width: 15%
					display: block
					border: none
					&>ul
						display: flex
						flex-direction: column
						height: 100%
						&>li.item
							height: 19%
						&>li.center
							height: 24%
							width: 100%
					
				.center
					width: 70%
					display: flex
					flex-direction: row
					
					.monitor
						width: 70%
						border-right: 2px solid grey
						display: flex
						flex-direction: column
						justify-content: center
						align-items: center

						i 
							margin: 10px
							font-size: 12px
						hr
							margin: 10px 0

						.names input
							border 1px solid black
							margin: 5px 0

							&.error
								outline: 1px solid #c40f13

						.playerProgress
							.timeOut
								font-size: 50px
								display none
								text-align center
							.run
								display none
								margin-top 20px

						

					.chat
						width: 30%
						padding: 5px
						overflow: auto

						p.info
							font-size: 12px
							color: grey

						p.trade
							font-size: 12px
							color: #009688

						p.exit
							font-size: 12px
							color: red

		.checks
			.check
				height: 20px
				width: 20px
				border-radius: 50%
				position: absolute
				text-align: center
				display: none
				&.user1
					background-color: #ff7575
					top: 30px
					left: 10px
				&.user2
					background-color: #7dff7d
					top: 30px
					left: 35px
				&.user3
					background-color: #6666ff
					top: 30px
					left: 60px
				&.user4
					background-color: #ffff80
					top: 30px
					left: 85px
				&.user5
					background-color: #82ffff
					top: 30px
					left: 110px

	.users
		height: calc(100vh - 30px)
		width: calc(100vh * 0.4 - 30px)
		border: 1px solid black
		box-sizing: border-box
		margin: 15px 10px
		flex-shrink: 0

		ul
			list-style: none
			display: flex
			flex-direction: column
			height: 100%

			li
				border: 1px solid grey
				height: 20%
				box-sizing: border-box
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center

				&.user1
					background-color: #ff7575
				&.user2
					background-color: #7dff7d
				&.user3
					background-color: #6666ff
				&.user4
					background-color: #ffff80
				&.user5
					background-color: #82ffff
				&.no-active
					background-color: #c0c0c0

				p.name
					font-weight: 700
					font-size: 20px
					margin-bottom: 10px


li.item
	display: flex
	justify-content: center
	align-items: center
	font-size: 45px
	color: grey
	font-weight: 700
	background-color: #d4d4d4

li.item.square
	font-size: 20px
	font-weight: normal
	background-color: white










